# !This is an example .env file for a Next.js eCommerce application using Prisma with MongoDB.
# !Copy this file to .env and fill in the required values.
# !Make sure to replace DATABASE_URL with your actual MongoDB connection string.

# !Environment variables declared in this file are automatically made available to Prisma.
# !See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

DATABASE_URL="mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.rdwnezv.mongodb.net/next_js_ecommerce_app?retryWrites=true&w=majority&appName=Cluster0"
NEXT_PUBLIC_USE_MOCK_SERVICE=false
