# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# !Dependencies
/node_modules

# !Next JS
/.next/

# !Typescript
next-env.d.ts
tsconfig.tsbuildinfo

# !Editor files
/.vscode

# !Testing files
/coverage
